h1 {
  font-size: 40px;
  font-weight: bold;
}
h2 {
  font-size: 16px;
  position: relative;
  bottom: -16px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.current-city {
  font-size: 11px;
}
.weather-app {
  border: 2px solid #000;
  border-radius: 20px;
  max-width: 800px;
  display: block;
  margin: 100px auto;
  padding: 60px 40px;
  font-family: "Mali", cursive;
  background-image: url("../images/cloud-background.jpg");
  background-size: 800px;
}

.weather-data {
  position: relative;
  bottom: -34px;
}

.today-symbol {
  width: 120px;
  display: block;
  margin: 0 auto;
}

.description {
  text-align: center;
  font-weight: bold;
}
.description::first-letter {
  text-transform: capitalize;
}

.weather-symbol {
  width: 40px;
  display: block;
  margin: 0 auto;
}

.temp-scale {
  font-size: 15px;
  position: relative;
  top: -20px;
  left: -10px;
}

.future-weather {
  padding: 50px 0 0 0;
}
.footer {
  font-size: 12px;
  text-align: center;
  font-family: "Mali", cursive;
  position: relative;
  top: -70px;
}
